## Begin -SEF Section.
#
RewriteEngine on
RewriteBase /
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#
# If the requested path and file is not /index.html and the request
# has not already been internally rewritten to the index.html file
#RewriteCond %{REQUEST_URI} !^/index\.html
# and the requested path and file doesn't directly match a physical file
RewriteCond %{REQUEST_FILENAME} !-f
# and the requested path and file doesn't directly match a physical folder
RewriteCond %{REQUEST_FILENAME} !-d
# internally rewrite the request to the index.html file
RewriteRule .* index.html [L]
#
## End - SEF Section.